# Build & tooling
bin/
obj/
out/
artifacts/
TestResults/
.vs/
.idea/
*.user
*.suo

# Packaging
*.nupkg
*.snupkg

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/
.coverage
coverage*.json
lcov*.info

*.local.json

# Docs
docs/_site/**
docs/api/**
