services:
  firebolt-core:
    image: ghcr.io/firebolt-db/firebolt-core:preview-rc
    container_name: firebolt-core
    pull_policy: always
    ports:
      - "3473:3473"
      - "8122:8122"
    healthcheck:
      test: ["CMD", "fbcli", "--command", "SELECT 42;"]
      interval: 5s
      timeout: 10s
      retries: 10
    security_opt:
      - seccomp=unconfined
    ulimits:
      memlock:
        hard: 8589934592
        soft: 8589934592
